"*":
  core:
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    invisibles: {}
    showInvisibles: true
  "exception-reporting":
    userId: "ab4b521a-924c-bb3e-90e3-870dbd72b823"
  linter: {}
  welcome:
    showOnStartup: false
